* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, #50c878, #1998d3);
    height: 100%;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 2px;

}

header nav .navlink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin: 20px;

}

header nav .navlink .logo {
    padding: 0px 0px;
    font-size: 35px;
    font-weight: 900;
}

header nav .navbutton button {
    display: none;
    color: #1998d3;
    background-color: white;
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
}

header nav .desktop_nav {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;

}

header nav .desktop_nav a {
    color: white;
    padding: 7px 10px;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
}

header nav .navicon button {
    display: block;
    color: white;
    background-color: transparent;
    border: none;
}

header nav .navicon button img {
    color: white;
    margin: 20px 0px;
}

header .headercontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

header .headercontent .headerinfo h1 {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    padding: 30px 12px 10px 12px;
}

header .headercontent .headerinfo h4 {
    font-size: 1rem;
    color: white;
    font-weight: 100;
    padding: 0px 20px;
}

header .headercontent .headerinfo .contentbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px 20px;
}

header .headercontent .headerinfo .contentbutton button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 7%;
    border:none;
    width: auto;
    background-color: white;
    padding:10px;
    margin:0px 15px 0px 0px;
    text-align: left;
    align-items: center;
}
header .headercontent .headerinfo .contentbutton button img{
   width:30px;
   height:30px; 
}
header .headercontent .headerinfo .contentbutton button h5{
    font-size:0.82rem;
    padding-left:5px;
}
header .headercontent .headerinfo .contentbutton button h5 span{
    font-size: 1rem;
    text-transform: capitalize;
}

header .headercontent .headerimg img {
    width: 100%;
    height: auto;
}
header .mylogo{
    color:white;
    padding:30px 20px;
}








/* desktopview  */

@media screen and (min-width:1025px) {
    header {
        height: 85vh;
    }

    header nav .desktop_nav {
        display: flex;
    }

    header nav .navbutton button {
        display: block;
    }

    header nav .navicon button {
        display: none;
    }

    header nav .navicon {
        display: none;
    }

    header .headercontent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header .headercontent .headerinfo h1 {
        font-size: 5rem;
    }

    header .headercontent .headerimg img {
        height: 600px;
    }

    header .headercontent .headerinfo h4 {
        font-size: 1.3rem;
    }
    
}